In [80]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os

# row, columns 길게 조회할 수 있게 옵션 걸어두기
pd.options.display.max_info_columns =200
pd.options.display.max_columns = 200
pd.options.display.max_info_rows =999
pd.options.display.max_rows = 999

# import warnings
# warnings.filterwarnings(action='ignore')

In [114]:
cnt_time = pd.read_csv('/Users/ppangppang/Desktop/ssac/Final_project/2.Processed/data/time.csv')
cnt_time

            imp_time     view_time
0       16:48:41.780  16:56:46.013
1       17:00:45.805           NaN
2       17:03:49.363           NaN
3       17:02:48.690           NaN
4       17:01:51.038           NaN
...              ...           ...
735689  22:01:53.052           NaN
735690  22:02:49.103           NaN
735691  23:17:30.388           NaN
735692  23:34:01.483           NaN
735693  00:00:42.694           NaN

[735694 rows x 2 columns]

In [115]:
cnt_F = cnt_time[cnt_time['view_time'].isnull()]
cnt_T = cnt_time[cnt_time['view_time'].notnull()]
cnt_F['click'] = 0
cnt_F['delay'] = 0
cnt_F.index=range(len(cnt_F))
cnt_T['click'] = 1
cnt_T.index=range(len(cnt_T))

/var/folders/c0/q_ltjrb55gzc5wvhsv7s_vsh0000gn/T/ipykernel_64016/946707864.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cnt_F['click'] = 0
/var/folders/c0/q_ltjrb55gzc5wvhsv7s_vsh0000gn/T/ipykernel_64016/946707864.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cnt_F['delay'] = 0
/var/folders/c0/q_ltjrb55gzc5wvhsv7s_vsh0000gn/T/ipykernel_64016/946707864.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cnt_T['click'] = 1

In [116]:
pd.to_datetime(cnt_T['imp_time'][0], format="%H:%M:%S.%f")

Timestamp('1900-01-01 16:48:41.780000')

In [117]:
for i in range(len(cnt_T)):
    if len(cnt_T['imp_time'][i]) < 8:
        cnt_T['imp_time'][i] = pd.to_datetime(cnt_T['imp_time'][i], format="%H:%M")
    elif len(cnt_T['imp_time'][i]) < 12:
        cnt_T['imp_time'][i] = pd.to_datetime(cnt_T['imp_time'][i], format="%H:%M:%S")
    else:
        cnt_T['imp_time'][i] = pd.to_datetime(cnt_T['imp_time'][i], format="%H:%M:%S.%f")

/var/folders/c0/q_ltjrb55gzc5wvhsv7s_vsh0000gn/T/ipykernel_64016/3845455492.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cnt_T['imp_time'][i] = pd.to_datetime(cnt_T['imp_time'][i], format="%H:%M:%S.%f")
/var/folders/c0/q_ltjrb55gzc5wvhsv7s_vsh0000gn/T/ipykernel_64016/3845455492.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cnt_T['imp_time'][i] = pd.to_datetime(cnt_T['imp_time'][i], format="%H:%M:%S")
/var/folders/c0/q_ltjrb55gzc5wvhsv7s_vsh0000gn/T/ipykernel_64016/3845455492.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cnt_T['imp_time'][i] = pd.to_datetime(cnt_T['imp_time'][i], format="%H:%M")

In [118]:
for i in range(len(cnt_T)):
    if len(cnt_T['view_time'][i]) < 8:
        cnt_T['view_time'][i] = pd.to_datetime(cnt_T['view_time'][i], format="%H:%M")

    elif len(cnt_T['view_time'][i]) < 12:
        cnt_T['view_time'][i] = pd.to_datetime(cnt_T['view_time'][i], format="%H:%M:%S")
    else:
        cnt_T['view_time'][i] = pd.to_datetime(cnt_T['view_time'][i], format="%H:%M:%S.%f")

/var/folders/c0/q_ltjrb55gzc5wvhsv7s_vsh0000gn/T/ipykernel_64016/2934145012.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cnt_T['view_time'][i] = pd.to_datetime(cnt_T['view_time'][i], format="%H:%M:%S.%f")
/var/folders/c0/q_ltjrb55gzc5wvhsv7s_vsh0000gn/T/ipykernel_64016/2934145012.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cnt_T['view_time'][i] = pd.to_datetime(cnt_T['view_time'][i], format="%H:%M:%S")

In [119]:
cnt_T['delay'] = cnt_T['view_time'] - cnt_T['imp_time']

/var/folders/c0/q_ltjrb55gzc5wvhsv7s_vsh0000gn/T/ipykernel_64016/3583201296.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cnt_T['delay'] = cnt_T['view_time'] - cnt_T['imp_time']

In [120]:
cnt_T

,imp_time,view_time,click,delay
0,1900-01-01 16:48:41.780000,1900-01-01 16:56:46.013000,1,0 days 00:08:04.233000
1,1900-01-01 23:12:45.556000,1900-01-01 23:12:53.152000,1,0 days 00:00:07.596000
2,1900-01-01 23:13:11.310000,1900-01-01 23:13:05.273000,1,-1 days +23:59:53.963000
3,1900-01-01 16:47:01.633000,1900-01-01 16:46:55.600000,1,-1 days +23:59:53.967000
4,1900-01-01 10:14:09.313000,1900-01-01 10:14:16.926000,1,0 days 00:00:07.613000
...,...,...,...,...
23538,1900-01-01 08:35:49.722000,1900-01-01 08:35:48.213000,1,-1 days +23:59:58.491000
23539,1900-01-01 15:55:57.967000,1900-01-01 15:56:00.998000,1,0 days 00:00:03.031000
23540,1900-01-01 07:21:11.792000,1900-01-01 07:22:03.335000,1,0 days 00:00:51.543000
23541,1900-01-01 23:01:20.234000,1900-01-01 23:01:26.314000,1,0 days 00:00:06.080000
23542,1900-01-01 18:19:43.794000,1900-01-01 18:19:36.235000,1,-1 days +23:59:52.441000

In [124]:
cnt_time = pd.concat([cnt_T,cnt_F])
cnt_time.index = range(len(cnt_time))
cnt_time

,imp_time,view_time,click,delay
0,1900-01-01 16:48:41.780000,1900-01-01 16:56:46.013000,1,0 days 00:08:04.233000
1,1900-01-01 23:12:45.556000,1900-01-01 23:12:53.152000,1,0 days 00:00:07.596000
2,1900-01-01 23:13:11.310000,1900-01-01 23:13:05.273000,1,-1 days +23:59:53.963000
3,1900-01-01 16:47:01.633000,1900-01-01 16:46:55.600000,1,-1 days +23:59:53.967000
4,1900-01-01 10:14:09.313000,1900-01-01 10:14:16.926000,1,0 days 00:00:07.613000
...,...,...,...,...
735689,22:01:53.052,NaN,0,0
735690,22:02:49.103,NaN,0,0
735691,23:17:30.388,NaN,0,0
735692,23:34:01.483,NaN,0,0
735693,00:00:42.694,NaN,0,0

In [ ]:
# cnt_time.to_csv()